.custom-jumbotron {
  font-size: 100%;
}


/* General Styles */
.fas {
  margin-right: 5px;
}

.text-center {
  margin-top: 20px;
}

/* Jumbotron Styles */
.custom-jumbotron {
  background-color: #a5acb3;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.custom-jumbotron h4 {
  font-family: 'Montserrat', sans-serif;
  color: #333;
  margin-bottom: 25px;
}

.input-group {
  margin-bottom: 20px;
}

.form-control {
  border: 1px solid #ced4da;
  border-radius: 50px;
  padding: 10px 20px;
}

.btn-dark {
  border-radius: 50px;
  padding: 10px 25px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-dark:hover {
  background-color: #333;
  color: #fff;
}

/* Footer Styles */
.custom-footer {
  background-color: #191a1a;
  color: rgb(126, 126, 126);
  padding: 20px 0;
  position: relative;
  text-align: center;
}

.footer-content p,
.copyright-info {
  margin-bottom: 10px;
}

.visitor-count {
  position: absolute;
  bottom: 10px;
  right: 20px;
}

.contact-link,
.dark-footer a {
  font-weight: 500;
  text-decoration: none;
  color: #adadad;
  transition: color 0.3s ease;
}

.contact-link:hover,
.dark-footer a:hover {
  color: #fff;
}

.notepad {
  background-color: #f7f5e7;
  border: 1px solid #ddd;
  font-family: 'Courier New', Courier, monospace;
  padding: 20px;
  border-top: 10px solid #333;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
}

.sticky-note {
  background-color: #fffaa5;
  padding: 20px;
  font-family: 'Courier New', Courier, monospace;
  transform: rotate(-2deg);
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

#home-icon-button {
  position: absolute;
  top: 25px;
  right: 25px;
  background-color: #181818;
  color: #fff;
  border: none;
  border-radius: 50%;
  /* Make it circular */
  padding: 10px;
  text-decoration: none;
  transition: background-color 0.3s;
  z-index: 1000;
  /* Ensure it appears above other elements */
}

#home-icon-button:hover {
  background-color: #555;
}

#home-icon-button i {
  font-size: 32px;
  padding: 10;
}

#loadingDiv {
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9998;
}

.loader-container {
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9998;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader-circle {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #575757;
  /* Blue color */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

.loader-text {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  color: #1d1e1e;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#location-details {
  display: none;
}

.title-result {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  color: #5e5c5c;
  text-align: center;
  /* padding: 20px;
  margin: 20px 0;
  border-bottom: 2px solid #eee;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}
